Linkedin Voice post N8N Final.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        32,
        0
      ],
      "id": "8d57858c-dd08-43a4-bc25-7ceb5c003cfa",
      "name": "WhatsApp Trigger",
      "webhookId": "80343947-e817-4a41-8d52-77671c9259bf",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "j2RCRRzSMtzKam4b",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.messages[0].audio.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "09a9c8e8-28b2-45e0-9e43-6814b066deac",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "60e6haqMnvTUFyUc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        0
      ],
      "id": "a99b063f-8788-4321-8bf9-3f5e5173a17d",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "60e6haqMnvTUFyUc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        624,
        0
      ],
      "id": "152dfe3c-05df-4e83-a000-b49e6d63c9dc",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "AfqhlqKE2IyvqvC8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.eu2.make.com/jdxoo5iojvy638d718ivh30ycera2pbc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\" : \"{{ $json.text }}\"\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        0
      ],
      "id": "43c11a9b-5583-4104-925b-33b30b270424",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "60e6haqMnvTUFyUc",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8cfe4776-222a-45c0-815e-88857915ccb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78d56aacb9a73d78479d7c7608f9527fa359fe2692baa3b141c30d0368233845"
  },
  "id": "kbGylYT4wZKMK3d0",
  "tags": []
}